
body {
    
    background: linear-gradient(90deg, #CDA34F 30%, #E9E7DA 30%);

}	

h1 {
	color: #636B46;
	font-family: 'Gill Sans', Verdana, sans-serif;
	text-align: center;
	font-weight: lighter;
	font-size: 50px;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: #636B46;
	padding-top:5%;
}
p {
	color: #373F27;
	font-family: 'Gill Sans', Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: left;
	line-height: 10px;
}


#logo {
	display: block;
	width: 20%;
	position: absolute;
	left: 5%;	
	top: 30%;
}
#logo:hover {
    -webkit-filter: blur(2px);
}

.navbar{
    list-style-type: none;
    right: 5%;
}


.navbar li { 
    float: right;
    display: block;
    padding-right: 50px;
}

.navbar li a {
    display: block;
    color: #636B46;
    font-family: 'Gill Sans', Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;

}

li a:hover {
    color: #CDA34F;
    font-weight: normal;
}

a:hover {
    color: #CDA34F;
    font-weight: normal;
}

#panel {
	background: #CDA34F;
	position: fixed;
	top: 0;
	left: 0%;
	width: 30%;
	height: 100%;
}


#contact_info {
	color: #CDA34F;
	font-family: 'Gill Sans', Verdana, sans-serif;
	position: fixed;
	font-size: 13px;
	font-weight: lighter;
	top: 95.5%;
	right: 2%;
}		
#button{
    display: block;
    color: #CDA34F;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}


.body {
	
	position: absolute;
	display: block;
	top: 40%;
	left: 30%;
	padding-left: 80px;
	padding-right: 300px;
	line-height: 25px;
	list-style-type: none;
}
.body a{
 	
 	color: #636B46;
	font-family: 'Gill Sans', Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;

 }
.body a:hover {
    color: #CDA34F;
    font-weight: normal;
}


