body{
	background-color: #F7F3EC;

}

h1 {
	color: #595858;
	font-family: 'Gill Sans', Verdana, sans-serif;
	text-align: center;
	font-weight: lighter;
	font-size: 50px;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: black;
	padding-top:5%;
	
}


#logo {
	display: block;
	width: 25%;
	position: absolute;
	left: 7%;	
	top: 40%;
}
#logo:hover {
    -webkit-filter: blur(2px);
}

.navbar{
    list-style-type: none;
    right: 5%;
}


.navbar li { 
    float: right;
    display: block;
    padding-right: 50px;
}

.navbar li a {
    display: block;
    color: black;
    font-family: 'Gill Sans', Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 14px ;
    text-decoration: none;

}

li a:hover {
    color: black;
    font-weight: normal;
}

a:hover {
    color: black;
    font-weight: normal;
}

#contact_info {
	color: #595858;
	font-family: 'Gill Sans', Verdana, sans-serif;
	position: fixed;
	font-size: 13px;
	font-weight: lighter;
	top: 95.5%;
	left: 2%;
}		
#button{
    display: block;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: normal;
}

.body {
	
	position: absolute;
	display: block;
	top: 45%;
	left: 30%;
	padding-left: 80px;
	padding-right: 100px;
	line-height: 25px;
}

p {
	color: #595858;
	font-family: 'Gill Sans', Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	line-height: 10px;
}

 #workshop_list{
 	top: 30%;
 	right:45%;
	text-align: left;
	position: absolute;
	list-style-type: none;

	
 }
 #workshop_list a{
 	
 	color: #595858;
	font-family: 'Gill Sans', Verdana, sans-serif;
	font-size: 20px;
	font-weight: lighter;

 }
#workshop_list a:hover {
    color: black;
    font-weight: normal;
}


